/*reset preset browser*/
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}
html{
    background: /* linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1)), */ url(../images/sfondo.png) no-repeat center center  fixed; 
    
    background-size: cover;


  /* background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url(../images/sfondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed; */
}

/*scrollbar personalizzata*/
::-webkit-scrollbar {
    background: #696969;/*nice*/
    height: 9px;
    width: 9px;
}
::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 4px;
}
/*selezione personalizzata*/
::selection {
    color: rgb(228, 228, 228);
    background: #ce313e;
}

/*torna su*/
.gotop{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #ca1020;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    border-radius: 5px;
}



.gotop:hover{
    background: #ce313e;
    transition: 0.4s;
    color: bisque;
}

/*regole di stile principali*/
body{
    
    font-family: 'Montserrat', sans-serif;;
    color: white;
    /* background-image: url(".\images\sfondo.png");
    background-position: center;
    background-repeat: no-repeat; */
    /* background-color: #2c2d36; */

    
}

header{
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 4px #000000;
}

header>h1{
    font-size: 3vw;
    font-weight: lighter;
}

#container{
    width: 85%;
    margin: 20px auto;
}

/*navbar*/
nav{
    background-color: #ad1522;
    margin: 0;
    padding: 6px 0;
    position: sticky;
    top: 0;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(34, 16, 16, 0.4);
}
ul{
    list-style-type: none;
    font-size: 85%;
}

li{
	float: left;
}

nav>h2{
    display: none;
}

.menu{
    float: left;
    padding: 1vw;
    font-size: 0.8vw;
    margin-right: 25%;
}

li a {
    position: relative;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 0.5vw;
    padding: 0.5vw;
    font-size: 0.8vw;
}

li a:hover {
    background-color: #ce313e;
    box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
    transition: 0.6s;
}

.active {
    background-color: #8a111b;
}

.home{
    font-weight: bolder;
}

nav::after {
    content: "";
    clear: both;
    display: block;                        
}

.button{
    display:none;
}

/*Immagine e testo*/
img{
	max-width:100%; 
	margin: auto; 
	display:block;
    overflow: hidden;
}

main{
    float: left;
    padding: 10px 20px 10px 20px;
    width: 60%;
}

aside div{
    text-align: center;
    margin-bottom: 6%;
}

aside{
    float: left;
    width: 40%;
    padding: 20px;
    text-align: justify;
    font-size: 1em;
    margin-top: 3vw;
}

#s1::after, #s2::after{
    content: "";
    clear: left;
    display: block;                   
}

#s2>h2{
    text-align: center;
}

.boxpersonaggio{
    float: left;
    width: 25%;
}

h3{
    text-align: center;
    margin: 10px auto;
    font-size: 80%;
}

.boxinterna{
    background-color: rgba(161, 28, 28, 0.322);
    margin: 2vw;
    border: 1px solid rgb(199, 1, 1);
    border-radius: 5px;
}

.hero{
    width: 14.2857%;
}

.hero .boxinterna{
    margin: 1.3vw;
}

.boxinterna:hover{
    background-color: rgba(161, 28, 28, 0.486);
    box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
    margin: 0.7vw;
    transition: 0.5s;
    border: 1px solid red;
}



footer{
    background-color: #ad1522;
    width: 85%;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0px 15px 20px rgba(34, 16, 16, 0.4);
    text-align: center;
    padding: 0.8em;
}
footer>h1{
    font-size: 100%;
    font-weight: 300;
}

/* Media-Query */

@media screen and (max-width: 1100px){
    li a, .menu{
        font-size: 1.25vw;
    }

    .menu{
        margin-right: 2%;
    }
}

input[type=checkbox]{
    display:none
}

input[type=checkbox]:checked~#menu{
    display:block;
}

input[type=checkbox]:checked~label{
    background-color: rgb(212, 32, 32);
    font-size: 150%;
    text-indent: -9999px;
    line-height: 0;
}

input[type=checkbox]:checked~label::after{
    content: "\00D7";
    text-indent: 0;
    display: block;
    line-height: initial;
    font-size: 150%;
}

label{
    display: none;
}

@media screen and (max-width: 800px){
    h3{
        font-size: 73%;
    }
    .menu{
        display: none;
    }
    nav{
        background-color: transparent;
        box-shadow: none;
        float: left;
        width: 33%;
        position: unset;
    }
    li{
        float: unset;
        display: block;
    }

    li a{
        background-color: #ad1522;
        padding: 4.95%;
        font-size: 0.84em;
    }

    aside{
        width: 100%;
        font-size: 0.93em;
    }

    #s2>h2{
        margin-top: 5%;
    }

    .boxpersonaggio{
        width: 50%;
    }

    .hero{
        width: 25%;
    }
    
    

    .threelastbox{
        position: unset;
        position: relative;
        left: +12.5%;
    }
    
    .lastbox{
        margin: 0 auto;
        
    }
}

@media screen and (max-width: 600px){
    main{
        width: 100%;
        margin-top: 40px;
    }

    nav{
        position: fixed;
        border-radius: 5px;
        background-color: #ad1522;
        width: 85%;
        text-align: center;
        box-shadow: 0px 15px 20px rgba(34, 16, 16, 0.4);
    }

    ul{
        width: 98%;
    }

    nav>h2{
        display: block;
        margin-top: 10px;
    }

    header h1{
        display: none;
    }

    li a{
        padding: 3.6%;
        font-size: 1em;
        
    }
    
    label{
        display: block;
        background-color: rgb(212, 32, 32);
        border-radius: 5px;
        width: 10%;
        font-size: 150%;
        margin: 0 10px 0 auto;
        position: relative;
        top: -30px;
        margin-bottom: -20px;
    }
    #menu{
        border-radius:0;
        text-align:center;
        display:none
    }
  
    /* rendo gli elementi dei menu elementi di blocco */  
    ul li{
        display:block
    }
      
    /* imposto la larghezza massima per gli elementi dei menu e i links */  
    ul li,ul li a{
        padding-right:0;
        padding-left:0;
        width:100%;
        border-right:none
    }
    
    /* resetto la posizione degli elementi del menu*/  
    #menu li{
        position:static
    }
      
    /* mostro il pulsante del menu nella versione mobile*/
    .showMenu{
        display:block  
    }

    .hero{
        width: 50%;
    }
    .threelastbox{
        position: unset;
    }
    .lastbox{
        position: relative;
        left: +25%;
    }
}